# Problem Solving and Programming in Python

### Session Objectives

* To Learn **Jupyter Notebooks**
* To Learn *Markdown Syntax*   
* To Learn ***Python*** Basics
    * Basic Syntax(Variables,Assignment,Data Types)
    * Control Structures
      * Conditional 
      * Repetitive



1. Three stars makes text bold and italic.
2. Two stars makes text bold.
3. One star makes text italic
4. Give two spaces if we want to enter sub list items.

<img src='py.png'/>

[Sample Image](http://localhost:8888/view/Desktop/JNTUA%20Python%20May%202019/honey.png)

[Link to Main Website](https://sites.google.com/view/jntua-python-may-2019)

## Python Basics

In [8]:
print('Hello World!!!!')
print('hello','world','!',end=",") ## print() func always adds a new line. If we want to remove
print('hello'+'world')             ## new line then use end=' '

Hello World!!!!
hello world !,helloworld

In [15]:
n = input("Enter a value: ") # Capture the input and store it in a variable
print(n)

Enter a value: 50
50

In [16]:
n = int(n) # Type convertion from string to int
n*n

2500

In [17]:
a=b=c=n # Multi Variable assignment(Assigning single value to multiple variables)

In [18]:
n

50

In [19]:
b

50

In [20]:
a

50

In [21]:
c

50

In [24]:
print(a,b,"\t",c) ## \t gives tab space

50 50 	 50

In [23]:
a,b,c

(50, 50, 50)

In [25]:
type(n)

int

In [26]:
s='sandhya'
type(s)

str

In [27]:
d,e,f=1,2,3 ## Assigning multiple values to multiple variables at a time

In [28]:
print(d)

1

In [29]:
print(e)

2

In [30]:
print(f)

3

In [31]:
print(d,e,f)

1 2 3

## String Slicing

In [44]:
s='Prabhu Sandhya'
s[0:7] ## a:b --> a is inclusive and b is exclusive

'Prabhu '

In [42]:
s[0] ## prints first character

'S'

In [46]:
s[-1] ## Prints last character

'a'

In [47]:
s[len(s)-1] ## len(str) calculates length of string

'a'

In [48]:
s[5:] ## Prints characters from 5th index to last

'u Sandhya'

In [50]:
s[0:5:2] ## prints characters between 0 and 5th index by incremeting 2 characters

'Pah'

In [53]:
s[::-1] ## Reverse of a string

'ayhdnaS uhbarP'

In [54]:
s[7::-1] ## Starts from 7th index and go backwards i.e 7-->6-->5 and so on

'S uhbarP'

In [56]:
s[:6:-1] ## Reverse of a sub string

'ayhdnaS'

In [59]:
s2='12345678'
s2[-1:4:-1] ## Reverse of last three characters

'876'

In [66]:
s2[-1::-2] ## Alternate Characters in reverse order

'8642'

In [67]:
s2[0::2] ## Alternate Characters

'1357'

## Functions in python

### Define a function  to print the reverse of a string

In [71]:
def reverseString(s):   ### ":" tracks the indentation of code
    return s[-1::-1]    ### we can also use s[::-1]
reverseString("Sandhya")

'ayhdnaS'

### Define a function to reverse a substring

In [90]:
def reverseSubString(s,startIndex,endIndex):
    subString=s[startIndex:endIndex]
    return subString[::-1]

In [92]:
reverseSubString("Prabhu Sandhya",7,14)

'ayhdnaS'

## Conditional Control Structures

### Define a function to test divisibility by 9 and 11 but not 10

In [107]:
def divTest(n):
    if (n % 9 == 0 and n % 11 == 0 and n % 10 != 0):
        return True
    else:
        return False
divTest(int(input("Enter Number:")))

Enter Number:34

False

### Recursive function for a^n

In [115]:
def recPower(base,exponent):
    if exponent==0:
        return 1
    return base*recPower(base,exponent-1)

In [116]:
recPower(2,6)

64

In [111]:
a=2
n=5
a**n

32

### Define a fucntion to check whether the given string is palindrome or not

In [126]:
def isPalindrome(s):
    revString=s[::-1]
    if s.lower()==revString.lower():
        return True
    else:
        return False
isPalindrome("hello")

False

## Iteration in python

### Define a function to generate all the numbers divisible by 7 in a given range(including both lower bound and upperbound)

In [135]:
def divisible7(lb,up):
    for i in range(lb,up+1):
        if i%7==0:
            print(i)
divisible7(7,70)

7
14
21
28
35
42
49
56
63
70

### Define a function to generate prime numbers

In [152]:
def isPrime(n):
    count=0
    if n==0 or n==1:
        return False
    for i in range(2,n//2+1):
        if n%i==0:
            count+=1
    if count==0:
        return True
    else:
        return False

In [153]:
def genPrimes(num):
    for i in range(1,num+1):
        if isPrime(i):
            print(i)
    return
genPrimes(20)

2
3
5
7
11
13
17
19

In [156]:
def divisibleByAnyNumber():
    list=[]
    for i in range(0,2):
        n=int(input("Enter the number to check the divisibility: "))
        lb=int(input("Enter Lower Bound: "))
        ub=int(input("Enter Upper Bound: "))
        for i in range(lb,ub+1):
            if (i%n==0):
                list.append(i)
        print(list)
        list=[]
divisibleByAnyNumber()

Enter the number to check the divisibility: 7
Enter Lower Bound: 17
Enter Upper Bound: 22
[21]
Enter the number to check the divisibility: 2
Enter Lower Bound: 10
Enter Upper Bound: 20
[10, 12, 14, 16, 18, 20]

## Python Lists

In [158]:
l=[1,2,3,'python',7.0] ## Initializing the list
l[-2:]

['python', 7.0]

In [165]:
print(l[3][0])
type(l[3][0]) ## Findind the type of first letter in "python"

p

str

In [166]:
l.pop() ## Deletes and prints the last element of list

7.0

In [167]:
print(l)

[1, 2, 3, 'python']

In [168]:
l.append(123) ## For appending elements to the list

In [169]:
l

[1, 2, 3, 'python', 123]

In [172]:
l.append([5,6,7]) ## For adding sublist to an existing list

In [174]:
l.pop()

[5, 6, 7]

In [177]:
l

[1, 2, 3, 'python', 123, [5, 6, 7]]

In [184]:
l.remove(3) ## Removes the given element from the list

In [182]:
l

[2, 'python', 123, [5, 6, 7]]

In [186]:
l.pop(2)

[5, 6, 7]

In [187]:
l

['python', 123]

In [188]:
l.append([1,2,3])

In [189]:
l

['python', 123, [1, 2, 3]]

In [190]:
l[2].remove(1) ## To remove elements from a sublist

In [191]:
l

['python', 123, [2, 3]]

In [193]:
l[2].remove(2)

In [194]:
l

['python', 123, [3]]

In [199]:
l[2].insert(1,4) ## Inserts element in the sublist based on the index given

In [200]:
l

['python', 123, [3, 4]]

In [201]:
l.pop(2)

[3, 4]

In [213]:
l.sort() ## If the list is having different data types, then sort() doesn't work

In [206]:
l.append(2)

In [207]:
l.append(3)

In [208]:
l.append(456)

In [209]:
l

[123, 2, 3, 456]

In [210]:
l.sort()

In [211]:
l

[2, 3, 123, 456]

In [215]:
l1=[7,8,9]

In [216]:
l.extend(l1) ## Merging the second list with the first list

In [217]:
l

[2, 3, 123, 456, 7, 8, 9]

In [218]:
 l.sort(reverse=True) ## Sorting list in reverse order

In [219]:
l

[456, 123, 9, 8, 7, 3, 2]