### Function to search in a linear data structure

In [16]:
def linearSearch(ds,key):
    i=0
    while i<len(ds):
        if ds[i]==key:
            print(f'index of the given key {key} is {i}')
        i+=1

In [17]:
linearSearch([1,2,3,4,5,6],5)

index of the given key 5 is 4

### Iterable Objects

In [12]:
s="Sandhya"
for char in s:
    print(char)

S
a
n
d
h
y
a

### Define a function to identify maximum element in a data structure using iterable objects

In [18]:
def maxNum(li):
    mx=0
    for item in li:
        if item>mx:
            mx=item
    print(f'Maximum element in the given list is {mx}')

In [19]:
maxNum([1,2,3,4,5,90])

Maximum element in the given list is 90

## Python Dictionaries

### Inbuilt Data Structures in Python are Lists, Tuples and Dictionaries

In [21]:
d1={'name1':'Sandhya','name2':'Siva','name3':'PavanKumar'}
d1['name1']

'Sandhya'

In [22]:
d1.keys()  ## Returns all the keys

dict_keys(['name1', 'name2', 'name3'])

In [23]:
d1.values() ## Returns all the values

dict_values(['Sandhya', 'Siva', 'PavanKumar'])

In [26]:
d1['name3']='PavanKumarReddy' ## Updating existing values of a dictionary

In [27]:
d1

{'name1': 'Sandhya', 'name2': 'Siva', 'name3': 'PavanKumarReddy'}

In [31]:
d1['name4']='Prabhu'

In [32]:
d1

{'name1': 'Sandhya',
 'name2': 'Siva',
 'name3': 'PavanKumarReddy',
 'name4': 'Prabhu'}

In [33]:
d1.pop('name4') ## To remove key and value from the dictionary

'Prabhu'

In [34]:
d1

{'name1': 'Sandhya', 'name2': 'Siva', 'name3': 'PavanKumarReddy'}

In [37]:
d1['name4']=1000

In [38]:
d1

{'name1': 'Sandhya',
 'name2': 'Siva',
 'name3': 'PavanKumarReddy',
 'name5': 1000,
 'name4': 1000}

In [39]:
d1.pop('name5')

1000

In [40]:
d1

{'name1': 'Sandhya',
 'name2': 'Siva',
 'name3': 'PavanKumarReddy',
 'name4': 1000}

### Contacts Application
### Display , Add , Modify and Delete Contacts

In [71]:
contacts={}
def addContact(dic,key,value):
    dic[key]=value
    return

def displayContacts(dic):
    for key,value in dic.items():
        print(key+":"+value)

def updateContacts(dic,key,value):
    dic[key]=value
    return

def deleteContact(dic,key):
    dic.pop(key)
    return

In [72]:
addContact(contacts,'name1','Sandhya')

In [73]:
addContact(contacts,'name2','Prabhu')

In [74]:
displayContacts(contacts)

name1:Sandhya
name2:Prabhu

In [64]:
contacts.items() ## Displays list of tuples

dict_items([('name1', 'Sandhya'), ('name2', 'Prabhu')])

In [75]:
updateContacts(contacts,'name1','Siva')

In [76]:
contacts

{'name1': 'Siva', 'name2': 'Prabhu'}

In [77]:
deleteContact(contacts,'name2')

In [78]:
contacts

{'name1': 'Siva'}

In [79]:
updateContacts(contacts,'name2','Sandhya')

In [80]:
contacts

{'name1': 'Siva', 'name2': 'Sandhya'}

In [81]:
deleteContact(contacts,'name1')

In [82]:
contacts

{'name2': 'Sandhya'}

## Idiomatic Programming in Python

In [84]:
for i in [0,1,2,3,4,5]:
    print (i**2)

0
1
4
9
16
25

In [96]:
colorList=['red','blue','green','yellow']
for color in reversed(colorList):
    print(color)

yellow
green
blue
red

In [97]:
for i in range(len(colorList)-1,-1,-1): ## without using predefined "reversed(list)" function
    print(colorList[i])

yellow
green
blue
red

In [98]:
for i, color in enumerate(colorList): ## To print index and value
    print( i,'------>',colorList[i])

0 ------> red
1 ------> blue
2 ------> green
3 ------> yellow

In [99]:
l1=[1,2,3,4,10]
l2=[5,6,7,8]
for i,j in zip(l1,l2): ## To access elements from two different lists
    print(i,j)

1 5
2 6
3 7
4 8

In [100]:
for color in sorted(colorList):
    print(color)

blue
green
red
yellow

## Regular Expressions

#### Regular expression for all single digits -->  [0-9]
#### Regular expression for all lower case alphabets --> [a-z]
#### Regular expression for all upper case alphabets --> [A-Z]
#### Regular expression for range of numbers --> [0-4] or [0-1] or [10] ..........
#### Regular expression for matching 3 digits --> [0-9]{3}

#### Regular expression to match Indian Mobile Number ---> ^[9876][0-9]{9}
#### ' ^ ' represents beginning of the string

### ^[a].{5}[a]$ ---> represents that the string must start with 'a' and end with 'a' and 5 characters in the middle

In [101]:
import re
def phoneNumberValidator(phone):
    phone=str(phone)
    pattern ='^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return True
    else:
        return False

In [103]:
phoneNumberValidator(90909090900)

False

#### write a function to validate an email

##### username@domain.extension

##### username={string of length 9, can contain alphabets,digits and _}

##### domain={string of length 9 ,can contain digits and alphabets}

##### extension={string of length 3 , can contain only alphabets}

##### ^[a-z][a-z0-9_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}$  ------> Regular Expression for email ID Validation

In [104]:
import re
def emailValidator(email):
    pattern ='^[a-z][a-z0-9_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}$'
    if re.match(pattern,email):
        return True
    else:
        return False

In [105]:
emailValidator("sandhya4059@gmail.com")

True

In [112]:
s1="Introduction to programming concepts using python,variables"
syllabuslist=re.split('[,][\ ]', s1)

In [115]:
syllabuslist[0]

'Introduction to programming concepts using python,variables'

## Date and Time Arithmetic
[Date and Time]("https://www.programiz.com/python-programming/datetime#current-datetime")

In [123]:
import datetime

### datetime.datetime.now() ----> library.class.function

datetime_object = datetime.datetime.now()  ### To get the current date and time
dateobj=datetime.date.today() ### Gives only date
print(datetime_object)
print(dateobj)

2019-05-31 17:12:06.821638
2019-05-31

In [117]:
datetime_object = datetime.datetime.now().year ### gives the current year
datetime_object

2019

In [118]:
datetime_object = datetime.datetime.now().month ### gives the current month
datetime_object

5

In [121]:
datetime_object = datetime.datetime.now() 
print(datetime_object.hour,datetime_object.minute,datetime_object.second) ### Displays current hour,minute and seconds

17 10 15

In [124]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

## Define function to find the difference between two given dates in the format YYYY:MM:DD

In [138]:
import datetime
def dateDifference(date1,date2):
    
    ## Extracting the year, month and day of date1
    year1 = int(date1[0:4])
    month1 = int(date1[5:7])
    day1 = int(date1[8:])
    
    ## Extracting the year, month and day of date2
    year2 = int(date2[0:4])
    month2 = int(date2[5:7])
    day2 = int(date2[8:])
    
    date1_obj=datetime.date(year1,month1,day1)
    date2_obj=datetime.date(year2,month2,day2)
    
    return abs(date2_obj-date1_obj)

In [139]:
dateDifference("2019:05:27","1994:02:22")

datetime.timedelta(days=9225)

## Iterators and Generators

[Iterators and Generators]('https://www.programiz.com/python-programming/i')

In [146]:
# define a list
my_list = [4, 7, 0, 3]

# get an iterator using iter()
my_iter = iter(my_list)

## iterate through it using next() 

#prints 4
#print(next(my_iter))

#prints 7
#print(next(my_iter))

for i in my_iter:
    print(i)

4
7
0
3

In [149]:
def my_gen():
    n = 1
    print('This is printed first')
    # Generator function contains yield statements
    yield n

    n += 1
    print('This is printed second')
    yield n

    n += 1
    print('This is printed at last')
    yield n
    
    # Using for loop
for item in my_gen():
    print(item)

This is printed first
1
This is printed second
2
This is printed at last
3

In [151]:
## Let's take an example of a generator that reverses a string.

def rev_str(my_str):
    length = len(my_str)
    for i in range(length - 1,-1,-1):
        yield my_str[i]

# For loop to reverse the string
# Output:
# o
# l
# l
# e
# h
for char in rev_str("hello"):
     print(char)

o
l
l
e
h

## List Comprehensions

In [153]:
li = [1,2,3,4,5]
sum(li) ## Returns sum of all elements in a list

15

In [155]:
sum(range(200)) ## Returns the sum of all natural numbers in the given range

19900

In [157]:
n=100
sum(list(range(n+1))) ## Sum of n natural numbers

5050

In [162]:
## Calculate sum of squareroot of n natural numbers
from math import sqrt
def sumOfSquareroots(n):
    return sum([sqrt(i) for i in list(range(1,n+1))])

### list(range(1,n+1)) --->  gives all the numbers in the given range

### [sqrt(i) for i in list(range(1,n+1))] ----> Calculates square root of each and every 
### element in the list

### sum([sqrt(i) for i in list(range(1,n+1))]) ---> returns sum of all square roots

In [163]:
sumOfSquareroots(20)

61.66597781141981

In [164]:
def squareListElements(li):
    return [i**2 for i in li]

In [165]:
squareListElements([1,2,3,4,5])

[1, 4, 9, 16, 25]

### Define a function using list comprehension to identify all numbers divisible by 9
### in a list

In [166]:
li = list(range(1,50))

def divisible9LC(li):
    return [i for i in li if i % 9 == 0]

In [167]:
divisible9LC(li)

[9, 18, 27, 36, 45]

## Return all the list of leap years from the last 50 years using List Comprehension

In [171]:
l=list(range(1979,2019))
def listOfLeaps(l):
    return [i for i in l if (i % 400 == 0) or (i % 4 == 0 and i % 100 != 0)]

In [172]:
listOfLeaps(l)

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

### MAPS

#### Map is a concept where functions and iterators are passed as parameters to Map

#### Define a function to calculate the cubes of all numbers in a list

In [184]:
l1=[1,2,3,4,5,6,7,8,9,10]

def cube(n):
    return n**3

list(map(cube,l1)) ## Using Maps

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [186]:
sum(list(map(cube,l1))) ## Sum of all cubes of natural numbers in a given list

3025

In [ ]:
sum(cube(i) f)